/* ---- Gerúndios ---- */
.acolher {			--theme: green;
}
.codando {			--theme: indianred;
}
.comunicando {		--theme: mediumorchid;
}
.cuidando {			--theme: khaki;
}
.desembolando {		--theme: darkorange;
}
.endireitando {		--theme: black;
}
.engenheirando {	--theme: midnightblue;
}
.ensinando {		--theme: steelblue;
}
.negociando {		--theme: navy;
}
.projetando {		--theme: magenta;
}
.veterinando {		--theme: seagreen;
}
